/*===========================================
================ CHUNK: BASE/LAYOUT
===========================================*/
@use "../abstracts/" as abstracts;


body{
    color: #444;
    margin: 40px auto;
}
.controls{
    margin: 10px auto;
    width: 400px;
    input,
    button{
        width: 95px;
    }
}
.grid-container{
    margin: 40px auto;
    border: 1px solid #bada55;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
}

